.solid-button-container {
  display: flex;
  position: relative;
}

.solid-button-button {
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding-top: 0.5em;
  padding-left: 2em;
  border-radius: 50px;
  padding-right: 2em;
  padding-bottom: 0.5em;
  background-color: #ff6720ff;
}

.solid-button-root-class-name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.landing-page-top-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/assets/baggrund.jpg");
  background-position: 0% 40%;
}

.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: column;
  padding-bottom: 4em;
  justify-content: flex-start;
}

.landing-page-introtext {
  color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
}

.landing-page-maps {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  justify-content: center;
}

.landing-page-iframe {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  border-radius: 8px;
}

@media(max-width: 767px) {
  .landing-page-main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .landing-page-introtext {
    text-align: center;
  }
}