---
layout: home
---
<div id="main-section" class="landing-page-main">
    <h1>Surdejsbrød</h1>
    <span class="landing-page-introtext">
        <span>Brød er godt</span>
    </span>
    <h1> Menu </h1>
    {% include menukort.html %}

    {% include image-gallery.html folder='/assets/gallery' %}
    <div class="landing-page-maps">
        <iframe
            src='https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d71.44013785748162!2d9.48886024618661!3d55.25097966987558!2m2!1f0!2f4.56928864766925!3m2!1i1024!2i768!4f56.80781020821514!3m3!1m2!1s0x464caee344b191f1%3A0x8096e7109f039fe4!2sJomfrustien%202C%2C%206100%20Haderslev!5e1!3m2!1sda!2sdk!4v1705412070157!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade'
            allowfullscreen="" class="landing-page-iframe"></iframe>
    </div>
</div>