<div class="landing-page-footer">
    <div class="landing-page-menu">
        <div class="landing-page-links-footer">
            <div class="landing-page-kontakt">
                <h2 id="Kontakt">Kontakt</h2>
                <a href="tel:{{site.tlf}}" class="landing-page-tlf">
                    {{site.tlf}}
                </a>
                <a href="mailto:{{site.mail}}" class="landing-page-mail">
                    {{site.mail}}
                </a>
                <span class="landing-page-addresse">
                    {{site.adresse}}
                </span>
                <span class="landing-page-cvr">CVR: {{site.cvr}}</span>
            </div>
            <div class="landing-page-åbningstider">
                <h2 id="Tider">Åbningstider</h2>
                <div class="landing-page-container-tid">
                    <div class="landing-page-dage">
                        <span class="landing-page-dag">{{site.aabenDag1}}</span>
                        <span class="landing-page-dag">{{site.aabenDag2}}</span>
                        <span class="landing-page-dag">{{site.aabenDag3}}</span>
                        <span class="landing-page-dag">{{site.aabenDag4}}</span>
                    </div>
                    <div class="landing-page-tidspunkter">
                        <span class="landing-page-tid">{{site.aabenTid1}}</span>
                        <span class="landing-page-tid">{{site.aabenTid2}}</span>
                        <span class="landing-page-tid">{{site.aabenTid3}}</span>
                        <span class="landing-page-tid">{{site.aabenTid4}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-page-follow-container">
            <span class="landing-page-follow-text">Følg med på</span>
            <div class="landing-page-icons-container">
                <a href="{{site.instagram}}" target="_blank" rel="noreferrer noopener">
                    <svg viewBox="0 0 877.7142857142857 1024" class="landing-page-icon-instagram">
                        <path
                            d="M585.143 512c0-80.571-65.714-146.286-146.286-146.286s-146.286 65.714-146.286 146.286 65.714 146.286 146.286 146.286 146.286-65.714 146.286-146.286zM664 512c0 124.571-100.571 225.143-225.143 225.143s-225.143-100.571-225.143-225.143 100.571-225.143 225.143-225.143 225.143 100.571 225.143 225.143zM725.714 277.714c0 29.143-23.429 52.571-52.571 52.571s-52.571-23.429-52.571-52.571 23.429-52.571 52.571-52.571 52.571 23.429 52.571 52.571zM438.857 152c-64 0-201.143-5.143-258.857 17.714-20 8-34.857 17.714-50.286 33.143s-25.143 30.286-33.143 50.286c-22.857 57.714-17.714 194.857-17.714 258.857s-5.143 201.143 17.714 258.857c8 20 17.714 34.857 33.143 50.286s30.286 25.143 50.286 33.143c57.714 22.857 194.857 17.714 258.857 17.714s201.143 5.143 258.857-17.714c20-8 34.857-17.714 50.286-33.143s25.143-30.286 33.143-50.286c22.857-57.714 17.714-194.857 17.714-258.857s5.143-201.143-17.714-258.857c-8-20-17.714-34.857-33.143-50.286s-30.286-25.143-50.286-33.143c-57.714-22.857-194.857-17.714-258.857-17.714zM877.714 512c0 60.571 0.571 120.571-2.857 181.143-3.429 70.286-19.429 132.571-70.857 184s-113.714 67.429-184 70.857c-60.571 3.429-120.571 2.857-181.143 2.857s-120.571 0.571-181.143-2.857c-70.286-3.429-132.571-19.429-184-70.857s-67.429-113.714-70.857-184c-3.429-60.571-2.857-120.571-2.857-181.143s-0.571-120.571 2.857-181.143c3.429-70.286 19.429-132.571 70.857-184s113.714-67.429 184-70.857c60.571-3.429 120.571-2.857 181.143-2.857s120.571-0.571 181.143 2.857c70.286 3.429 132.571 19.429 184 70.857s67.429 113.714 70.857 184c3.429 60.571 2.857 120.571 2.857 181.143z">
                        </path>
                    </svg>
                </a>
                <a href="{{site.facebook}}" target="_blank" rel="noreferrer noopener">
                    <svg viewBox="0 0 602.2582857142856 1024" class="landing-page-icon-facebook">
                        <path
                            d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .landing-page-footer {
        color: #FFFFFF;
        width: 100%;
        display: flex;
        padding: 3em;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #000000;
    }

    .landing-page-menu {
        width: 100%;
        display: flex;
        max-width: 1000px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .landing-page-links-footer {
        display: flex;
        align-self: center;
        margin-left: 0px;
        flex-direction: row;
    }

    .landing-page-kontakt {
        display: flex;
        align-self: flex-start;
        align-items: flex-start;
        margin-left: 3em;
        flex-direction: column;
    }

    .landing-page-cvr {
        margin-bottom: 1em;
    }

    .landing-page-åbningstider {
        margin-left: 3em;
        margin-right: 3em;
    }

    .landing-page-container-tid {
        display: flex;
    }

    .landing-page-dage {
        display: flex;
        padding-right: 0.5em;
        flex-direction: column;
    }

    .landing-page-dag {
        line-height: 1.7;
    }

    .landing-page-tidspunkter {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
    }

    .landing-page-tid {
        line-height: 1.7;
    }

    .landing-page-follow-container {
        display: flex;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;
        flex-direction: column;
    }

    .landing-page-follow-text {
        padding-bottom: 0.5em;
    }

    .landing-page-icons-container {
        width: 100px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }

    .landing-page-icon-instagram {
        fill: #FFFFFF;
        width: 45px;
        height: 45px;
    }

    .landing-page-icon-facebook {
        fill: #FFFFFF;
        width: 45px;
        height: 45px;
    }

    @media(max-width: 767px) {
        .landing-page-menu {
            flex-direction: column;
        }

        .landing-page-links-footer {
            width: auto;
            align-self: center;
            margin-top: 3em;
            margin-bottom: 3em;
            flex-direction: row;
            justify-content: space-between;
        }

        @media(max-width: 479px) {
            .landing-page-links-footer {
                margin-top: 2em;
                flex-direction: column;
            }

            .landing-page-åbningstider {
                width: 241px;
            }
        }
    }
</style>