<div class="landing-page-hero">
    <div class="landing-page-content-container">
        <h1 class="landing-page-overskrift">{{site.overskrift}}</h1>
        <p class="landing-page-underoverskrift">
            {{site.underOverskrift}}
        </p>
        <a href="#Kontakt" class="landing-page-link">
            <div class="solid-button-container solid-button-root-class-name">
                <button type="button" class="solid-button-button button Button">
                    <span>Kontakt</span>
                </button>
            </div>
        </a>
    </div>
</div>

<style>
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: row;
  padding-bottom: 3em;
  justify-content: space-between;
}
.landing-page-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-overskrift {
  color: #FFF;
}
.landing-page-underoverskrift {
  color: #FFFFFF;
}
.landing-page-link {
  display: contents;
}
@media(max-width: 767px) {

.landing-page-hero {
  justify-content: center;
}
.landing-page-content-container {
    align-items: center;
  }
  .landing-page-overskrift {
    font-size: 2.5rem;
  }
  
}
@media(max-width: 479px) {
  .landing-page-overskrift {
    font-size: 2rem;
    text-align: center;
  }
  .landing-page-underoverskrift {
    font-size: 1.3rem;
    text-align: center;
  }
}
</style>