<style>
    .image-gallery {
        overflow: auto;
        width: 100%;
        height: auto;
        max-width: 1000px;
        padding-top: 2em;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2em;
    }

    .image-gallery li {
        float: left;
        display: block;
        margin: 0 0.5% 1% 0.5%;
        width: 19%;
    }

    .image-gallery li a {
        text-align: center;
        text-decoration: none !important;
        color: #777;
    }

    .image-gallery li a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }

    .image-gallery li a img {
        width: 100%;
        display: block;
        border-radius: 4px;
    }
</style>

<ul class="image-gallery">
    {% for file in site.static_files %}{% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or
    file.extname == '.png' %}
    {% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last |
    replace:file.extname,"" %}
    <li>
        <a href="{{ file.path | relative_url }}" title="{{ filename }}">
            <img src="//images.weserv.nl/?url={{site.url}}/{{ file.path }}&w=300&h=300&output=jpg&q=70&&fit=cover"
                alt="{{ filename }}" />
            <!--<span>{{ filename}}</span>-->
        </a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>