<div class="menukort">
    {% for menu in site.menuer %}
    <li>
        <a href="{{ menu.url | prepend: site.baseurl }}" title="{{ menu.title }}">
            <div class="background"></div>
            <img src="//images.weserv.nl/?url={{site.url}}/{{ menu.image }}&w=500&h=500&output=jpg&q=70&&fit=cover"
                alt="{{ filename }}" />
            <h3 class="menuTitle">{{menu.title}}</h3>
            <div class="menuBeskrivelse">{{menu.beskrivelse}}</div>
        </a>
    </li>

    {% endfor %}


</div>

<style>
    .background {
        position: absolute;
        z-index: 1;
        border-radius: 8px;
        width: 100%;
        height: 30%;
        background: linear-gradient(180deg, #000, #0000);
    }

    .menukort {
        overflow: auto;
        width: 100%;
        height: auto;
        max-width: 1000px;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2em;
    }

    .menuTitle {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 16px;
        z-index: 1;
    }

    .menuBeskrivelse {
        position: absolute;
        top: 46px;
        left: 16px;
        padding-right: 16px;
        z-index: 1;
    }

    .menukort li {
        position: relative;
        float: left;
        display: block;
        margin: 0 0.5% 1% 0.5%;
        width: 32%;
    }

    .menukort li a {
        text-decoration: none !important;
        color: #fff;
    }

    .menukort li a img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }

    @media(max-width: 767px) {
        .menukort li {
            width: 49%;
        }
    }

    @media(max-width: 479px) {
        .menuTitle {
            font-size: 1em;
        }

        .menuBeskrivelse {
            font-size: 0.7em;
        }
    }
</style>