<nav data-role="Header" class="landing-page-navbar">
    <h1>
        <a class="landing-page-logo" href="{{ site.baseurl }}/">
            <span>{{site.titel}}</span>
        </a>
    </h1>
    <div class="landing-page-right-side">
        <div class="landing-page-links-top">
            <a href="#Tider" class="landing-page-link-til-tider">
                Åbningstider
            </a>
            <a href="#Kontakt" class="landing-page-link-til-kontakt">
                Kontakt
            </a>
        </div>
    </div>
</nav>

<style>
    .landing-page-navbar {
        width: 100%;
        height: 123px;
        display: flex;
        padding: 2em;
        max-width: 1000px;
        align-items: center;
        justify-content: space-between;
        color: #fff;

    }

    .landing-page-logo {
        font-size: 2em;
    }

    .landing-page-link-til-tider {
        margin-right: 2em;
    }

    .landing-page-link-til-kontakt {
        margin-right: 2em;
    }

    @media(max-width: 767px) {
        .landing-page-link-til-kontakt {
            display: none;
        }
    }

    @media(max-width: 479px) {
        .landing-page-links-top {
            display: none;
        }
    }
</style>