<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="landing-page-top-container" style="height: 123px;">

    {% include navigation.html %}

  </div>

  <div class="content" itemprop="articleBody">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>


  {% include footer.html %}

</body>

<style>
.wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    overflow: auto;
}

</style>