<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="landing-page-top-container">
    
    {% include navigation.html %}
    
    {% include heroImage.html %}
  </div>

  {{content}}

  {% include footer.html %}

</body>

</html>