---
layout: default
---
<div class="menu-content">
    {{content}}
</div>

<style>
    .menu-content {
        max-width: 100%;
    }

    .menu-content * {
        max-width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .menu-content img {
        padding: 0;
        border-radius: 1em;
    }
</style>